<section class="projects-detail-section">
  <div class="detail-container">
    <!-- Linke Hälfte -->
    <div class="detail-left">
      <div class="go-back" (click)="goBack()">
        <img
          src="assets/Images/MyProjects/ProjectDetailBG/arrow-left.webp"
          alt="{{ 'PROJECT_DETAIL.GO_BACK' | translate }}"
          class="back-arrow"
        />
        <span class="go-back-text">{{
          "PROJECT_DETAIL.GO_BACK" | translate
        }}</span>
      </div>
      <h1 class="project-name">{{ project.title | translate }}</h1>
      <!-- Hier verwenden wir nun animatedLineImage statt aboutLine -->
      <img
        [src]="project.animatedLineImage"
        alt="{{ 'PROJECT_DETAIL.LINE_ALT' | translate }}"
        class="about-line"
      />

      <!-- Überschriftsbereiche mit translate-Pipe -->
      <div class="section-title description-title">
        {{ "PROJECT_DETAIL.DESCRIPTION" | translate }}
      </div>
      <p class="description-text">{{ project.description | translate }}</p>

      <div class="section-title implementation-title">
        {{ "PROJECT_DETAIL.IMPLEMENTATION_DETAILS" | translate }}
      </div>
      <p class="implementation-text">
        {{ project.implementationDetails | translate }}
      </p>

      <div class="duration">
        <span class="duration-label"
          >{{ "PROJECT_DETAIL.DURATION_LABEL" | translate }}:</span
        >
        <span class="duration-value">{{ project.duration | translate }}</span>
      </div>

      <div class="tech-icons">
        <ng-container *ngFor="let icon of project.techIcons">
          <img [src]="icon" [alt]="icon" class="tech-icon" />
        </ng-container>
      </div>
    </div>

    <!-- Rechte Hälfte -->
    <div class="detail-right">
      <img
        [src]="project.image"
        alt="{{ 'PROJECT_DETAIL.THUMBNAIL_ALT' | translate }}"
        class="project-thumbnail"
      />
      <div class="buttons-container">
        <button class="detail-btn" (click)="openLink(project.repoLink)">
          {{ "PROJECT_DETAIL.GITHUB" | translate }}
        </button>
        <button class="detail-btn" (click)="openLink(project.liveDemo)">
          {{ "PROJECT_DETAIL.LIVE_TEST" | translate }}
        </button>
      </div>
      <div class="next-project">
        <span class="next-text" (click)="nextProject()">
          {{ "PROJECT_DETAIL.NEXT_PROJECT" | translate }}
        </span>
        <img
          src="assets/Images/MyProjects/ProjectDetailBG/arrow-right.webp"
          alt="{{ 'PROJECT_DETAIL.NEXT_ARROW_ALT' | translate }}"
          class="next-arrow"
          (click)="nextProject()"
        />
      </div>
    </div>
  </div>
</section>
